<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ymchat" version="2.3.2"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ymchat</name>
    <js-module name="ymchat" src="www/ymchat.js">
        <clobbers target="cordova.plugins.ymchat" />
    </js-module>
    <platform name="android">
        <dependency id="cordova-plugin-androidx-adapter"/>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ymchat">
                <param name="android-package" value="com.yellow.ai.ymchat.YmChatCordova" />
            </feature>
        </config-file>
        <config-file parent="/*" target="config.xml">
            <preference name="AndroidXEnabled" value="true" />
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
        <source-file src="src/android/com/yellow/ai/ymchat/YmChatCordova.java" target-dir="src/com/yellow/ai/ymchat" />
        <source-file src="src/android/com/yellow/ai/ymchat/YmChatService.java" target-dir="src/com/yellow/ai/ymchat" />
        <source-file src="src/android/com/yellow/ai/ymchat/utils/Utils.java" target-dir="src/com/yellow/ai/ymchat/utils" />
        <framework custom="true" src="src/android/build.gradle" type="gradleReference" />
        <framework src="androidx.appcompat:appcompat:1.0.0" />
    </platform>
    <platform name="ios">
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git" branch="master"/>
            </config>
            <pods use-frameworks="true">
                <pod name="YMChat" spec="~> 1.11" swift-version="5.0"/>
            </pods>
        </podspec>
        <config-file parent="/*" target="config.xml">
            <feature name="ymchat">
                <param name="ios-package" value="ymchat"/>
                <param name="onload" value="true" />
            </feature>
            <preference name="deployment-target" value="13.0" />
            <preference name="target-device" value="universal" />
        </config-file>
        <preference name="MICROPHONE_USAGE_DESCRIPTION" default="Your microphone will be used to record your speech when you use the Voice feature."/>
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$MICROPHONE_USAGE_DESCRIPTION</string>
        </config-file>
        <preference name="SPEECH_RECOGNITION_USAGE_DESCRIPTION<" default="Speech recognition will be used to determine which words you speak into this device&apos;s microphone."/>
        <config-file target="*-Info.plist" parent="NSSpeechRecognitionUsageDescription">
            <string>$SPEECH_RECOGNITION_USAGE_DESCRIPTION</string>
        </config-file>
        <source-file src="src/ios/ymchat.m" />
    </platform>
</plugin>